{{template "base/head" .}}
<div class="repository commits">
	{{template "repo/header" .}}
	<div class="ui container">

		{{range .AllCommits.Info}}
				{{.NumCommits}} || {{.Date}} || {{.User}}
				<br>
		{{end}}
		{{.AllCommits.Total}}

		<br><br>
		{{range .Commits}}
			{{range .Info}}
				{{.NumCommits}} || {{.Date}} || {{.User}}
				<br>
			{{end}}
			Total {{.Total}}
			<br><br>
		{{end}}

	</div>
</div>
{{template "base/footer" .}}
