{{template "base/head" .}}
<script type="text/javascript">
	$( document ).ready(function() {
    	$("#tag-box").click(function() {
			$("#tag_dropdown").removeClass( "error" );
		});

		$("#btnCreate-tag").click(function(){
			$('.ui.modal').modal('show');
		});
	});
</script>
<div class="repository new repo">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CsrfTokenHtml}}
				<h3 class="ui top attached header">
					{{.i18n.Tr "new_repo"}}
				</h3>
				<div class="ui attached segment">
					{{template "base/alert" .}}
					<div class="ui positive message hide" id="divMensajeTag">
						<p id="mensajeTag"></p>
					</div>
					<div class="inline required field {{if .Err_Owner}}error{{end}}">
						<label>{{.i18n.Tr "repo.owner"}}</label>
						<div class="ui selection owner dropdown">
							<input type="hidden" id="uid" name="uid" value="{{.ContextUser.ID}}" required>
							<span class="text">
								<img class="ui mini image" src="{{.ContextUser.RelAvatarLink}}">
								{{.ContextUser.ShortName 20}}
							</span>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="{{.SignedUser.ID}}">
									<img class="ui mini image" src="{{.SignedUser.RelAvatarLink}}">
									{{.SignedUser.ShortName 20}}
								</div>
								{{range .Orgs}}
									<div class="item" data-value="{{.ID}}">
										<img class="ui mini image" src="{{.RelAvatarLink}}">
										{{.ShortName 20}}
									</div>
								{{end}}
							</div>
						</div>
					</div>

					<div class="inline required field {{if .Err_RepoName}}error{{end}}">
						<label for="repo_name">{{.i18n.Tr "repo.repo_name"}}</label>
						<input id="repo_name" name="repo_name" value="{{.repo_name}}" autofocus required>
						<span class="help">{{.i18n.Tr "repo.repo_name_helper" | Safe}}</span>
					</div>
					<div class="inline field">
						<label>{{.i18n.Tr "repo.visibility"}}</label>
						<div class="ui checkbox">
							{{if .IsForcedPrivate}}
								<input name="private" type="checkbox" checked readonly>
								<label>{{.i18n.Tr "repo.visiblity_helper_forced" | Safe}}</label>
							{{else}}
								<input name="private" type="checkbox" {{if .private}}checked{{end}}>
								<label>{{.i18n.Tr "repo.visiblity_helper" | Safe}}</label>
							{{end}}
						</div>
					</div>
					<div class="inline required field">
						<label for="description">{{.i18n.Tr "repo.repo_desc"}}</label>
						<textarea id="description" name="description" required>{{.description}}</textarea>
					</div>

					<div class="ui divider"></div>
					<!-- METADATOS ESCOLARES-->
					<div class="inline field">
						<label>{{.i18n.Tr "repo.professor"}}</label>
						<div class="ui search selection dropdown">
							<input type="hidden" id="professor" name="professor" value="{{.professor}}">
							<div class="default text">{{.i18n.Tr "repo.select_professor"}}</div>
							<i class="dropdown icon"></i>
							<div class="menu" id="">
								{{range .Professors}}
									<div class="item" data-value="{{.ID}}">{{.FullName}}</div>
								{{end}}
							</div>
						</div>
					</div>

					<div class="inline field" id="div-semestre">
						<label>{{.i18n.Tr "repo.semester"}}</label>
						<div class="ui search selection dropdown">
							<input type="hidden" name="semester" value="{{.semester}}">
							<div class="default text">{{.i18n.Tr "repo.select_semester"}}</div>
							<i class="dropdown icon"></i>
							<div class="menu" id="semester-box">
								{{range .Semesters}}
									<div class="item" data-value="{{.ID}}">{{.Name}}</div>
								{{end}}
							</div>
						</div>
					</div>

					<div class="inline field" id="div-materia">
						<label>{{.i18n.Tr "repo.subject"}}</label>
						<div class="ui search selection dropdown">
							<input type="hidden" name="subject" value="{{.subject}}">
							<div class="default text">{{.i18n.Tr "repo.select_subject"}}</div>
							<i class="dropdown icon"></i>
							<div class="menu" id="subject-box">
								{{range .Subjects}}
									<div class="item" data-value="{{.ID}}">{{.Name}}</div>
								{{end}}
							</div>
						</div>
					</div>

					<div class="inline field" id="div-grupo">
						<label>{{.i18n.Tr "repo.group"}}</label>
						<div class="ui search selection dropdown">
							<input type="hidden" name="group" value="{{.group}}">
							<div class="default text">{{.i18n.Tr "repo.select_group"}}</div>
							<i class="dropdown icon"></i>
							<div class="menu" id="group-box">
								{{range .Groups}}
									<div class="item" data-value="{{.ID}}">{{.Name}}</div>
								{{end}}
							</div>
						</div>
					</div>

					<div class="inline required field ui grid" id="tag_dropdown">
						<label>Tags</label>
						<div id="tag-box" class="ui fluid multiple search selection dropdown" forceSelection="true">
							<input type="hidden" id="tags_hidden" name="tags" value="{{.tags}}">
							<div class="default text">{{.i18n.Tr "repo.repo_tag_helper"}}</div>
							<div class="menu">
							</div>
						</div>
						<!--<a target="_blank" href="{{AppSubUrl}}/tag/create" class="ui icon button green" style="left: 1%; position:relative;" title="Crear Tag">
							<i class="plus icon"></i>
						</a>-->
						<a class="ui icon button green" style="left: 1%; position:relative;" title="Crear Tag" id="btnCreate-tag">
							<i class="plus icon"></i>
						</a>
					</div>
					<!-- FIN METADATOS ESCOLARES-->
					<div class="ui divider"></div>

					<div class="inline field">
						<label>.gitignore</label>
						<div class="ui multiple search selection dropdown">
							<input type="hidden" name="gitignores" value="{{.gitignores}}">
							<div class="default text">{{.i18n.Tr "repo.repo_gitignore_helper"}}</div>
							<div class="menu">
								{{range .Gitignores}}
									<div class="item" data-value="{{.}}">{{.}}</div>
								{{end}}
							</div>
						</div>
					</div>
					<div class="inline field">
						<label>{{.i18n.Tr "repo.license"}}</label>
						<div class="ui search selection dropdown">
							<input type="hidden" name="license" value="{{.license}}">
							<div class="default text">{{.i18n.Tr "repo.license_helper"}}</div>
							<div class="menu">
								{{range .Licenses}}
									<div class="item" data-value="{{.}}">{{.}}</div>
								{{end}}
							</div>
						</div>
					</div>

					<div class="inline field">
						<label>{{.i18n.Tr "repo.readme"}} <a target="_blank" href="https://github.com/gogits/go-gogs-client/wiki/Repositories#litte-notes-on-readme-template"><span class="octicon octicon-question"></span></a></label>
						<div class="ui selection dropdown">
							<input type="hidden" name="readme" value="{{.readme}}">
							<div class="default text">{{.i18n.Tr "repo.readme_helper"}}</div>
							<div class="menu">
								{{range .Readmes}}
									<div class="item" data-value="{{.}}">{{.}}</div>
								{{end}}
							</div>
						</div>
					</div>
					<div class="inline field">
						<div class="ui checkbox" id="auto-init">
							<input class="hidden" name="auto_init" type="checkbox" tabindex="0" {{if .auto_init}}checked{{end}}>
							<label>{{.i18n.Tr "repo.auto_init"}}</label>
						</div>
					</div>

					<div class="inline field">
						<label></label>
						<button class="ui green button">
							{{.i18n.Tr "repo.create_repo"}}
						</button>
						<a class="ui button" href="{{AppSubUrl}}/">{{.i18n.Tr "cancel"}}</a>
					</div>
				</div>
			</form>
			<script>
				$("form").submit(function( event ) {
					var tags = $("#tags_hidden").val();
					if(tags == "" || tags.length == 0){
						$("#tag_dropdown").addClass( "error" );
						event.preventDefault();
					}else{
						$("#tag_dropdown").removeClass( "error" );
					}
				});
			</script>
		</div>
	</div>
</div>
<div class="ui modal">
	<i class="close icon"></i>
	<div class="header">
		{{.i18n.Tr "repo.create_tag"}}
	</div>
	<div class="ui attached segment">
		<div class="ui error message hide" id="divMensajeTagError">
			<p id="">La tag ya se encuentra registrada</p>
		</div>
		<form class="ui form" method="post" id="form-registrarTag">
			{{.CsrfTokenHtml}}

			<div class="inline required field ">
				<label for="tag">{{.i18n.Tr "tag"}}</label>
				<input id="tag_modal" value="" autofocus="" required>
			</div>
			<div class="field">
				<button class="ui green button">{{.i18n.Tr "repo.create_tag"}}</button>
			</div>
		</form>
	</div>
</div>
{{template "base/footer" .}}
