<div class="four wide column">
	<div class="ui vertical menu">
		<div class="header item">{{.i18n.Tr "admin_panel"}}</div>
		<a class="{{if .PageIsAdminDashboard}}active{{end}} item" href="{{AppSubUrl}}/admin">
			{{.i18n.Tr "admin.dashboard"}}
		</a>
		<a class="{{if .PageIsAdminUsers}}active{{end}} item" href="{{AppSubUrl}}/admin/users">
			{{.i18n.Tr "admin.users"}}
		</a>
		<a class="{{if .PageIsAdminProfessors}}active{{end}} item" href="{{AppSubUrl}}/admin/professors">
			{{.i18n.Tr "admin.professors"}}
		</a>
		<a class="{{if .PageIsAdminApplications}}active{{end}} item" href="{{AppSubUrl}}/admin/applications">
			{{.i18n.Tr "admin.applications"}}
		</a>
		<a class="{{if .PageIsAdminSemesters}}active{{end}} item" href="{{AppSubUrl}}/admin/semesters">
			{{.i18n.Tr "admin.semesters"}}
		</a>
		<a class="{{if .PageIsAdminSubjects}}active{{end}} item" href="{{AppSubUrl}}/admin/subjects">
			{{.i18n.Tr "admin.subjects"}}
		</a>
		<a class="{{if .PageIsAdminGroups}}active{{end}} item" href="{{AppSubUrl}}/admin/groups">
			{{.i18n.Tr "admin.groups"}}
		</a>
		<a class="{{if .PageIsAdminTags}}active{{end}} item" href="{{AppSubUrl}}/admin/tags">
			{{.i18n.Tr "admin.tags"}}
		</a>
		<a class="{{if .PageIsAdminOrganizations}}active{{end}} item" href="{{AppSubUrl}}/admin/orgs">
			{{.i18n.Tr "admin.organizations"}}
		</a>
		<a class="{{if .PageIsAdminRepositories}}active{{end}} item" href="{{AppSubUrl}}/admin/repos">
			{{.i18n.Tr "admin.repositories"}}
		</a>
		<!--<a class="{{if .PageIsAdminAuthentications}}active{{end}} item" href="{{AppSubUrl}}/admin/auths">
			{{.i18n.Tr "admin.authentication"}}
		</a>-->
		<a class="{{if .PageIsAdminConfig}}active{{end}} item" href="{{AppSubUrl}}/admin/config">
			{{.i18n.Tr "admin.config"}}
		</a>
		<!--<a class="{{if .PageIsAdminNotices}}active{{end}} item" href="{{AppSubUrl}}/admin/notices">
			{{.i18n.Tr "admin.notices"}}
		</a>-->
		<!--<a class="{{if .PageIsAdminMonitor}}active{{end}} item" href="{{AppSubUrl}}/admin/monitor">
			{{.i18n.Tr "admin.monitor"}}
		</a>-->
	</div>
</div>
