<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Username}}, please verify your e-mail address</title>
</head>

<body>
	<p>Hola <b>{{.Username}}</b>,</p>
	<p>Por favor da click en el siguiente enlace para verificar tu dirección de correo electrónico en las próximas <b>{{.ActiveCodeLives}} horas</b>:</p>
	<p><a href="{{AppUrl}}user/activate_email?code={{.Code}}&email={{.Email}}">{{AppUrl}}user/activate_email?code={{.Code}}&email={{.Email}}</a></p>
	<p>¿No funciona? Prueba copiando y pegando el enlace en tu navegador.</p>
	<p>© 2016 <a target="_blank" href="{{AppUrl}}">{{AppName}}</a></p>
</body>
</html>
