<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Username}}, Bienvenido a {{AppName}}</title>
</head>

<body>
	<p>Hola Prof.<b>{{.Username}}</b></p>
	<p>Lamentablemente su cuenta en {{AppName}} no ha sido aprobada.</p>
	<p>Para aclaracion de dudas pongase en contacto con el <a href="mailto:tt2016a039@gmail.com">administrador</a>.</p>
	<p><a href="{{AppUrl}}user/login">{{AppUrl}}user/login</a></p>
	<p>© 2016 <a target="_blank" href="{{AppUrl}}">{{AppName}}</a></p>
</body>
</html>
