<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Username}}, Bienvenido a {{AppName}}</title>
</head>

<body>
	<p>Hola Prof.<b>{{.Username}}</b></p>
	<p>Su cuenta en {{AppName}} ha sido aprobada.</p>
	<p>Ya puede iniciar sesión con el nombre de usuario: {{.Username}}.</p>
	<p><a href="{{AppUrl}}user/login">{{AppUrl}}user/login</a></p>
	<p>© 2016 <a target="_blank" href="{{AppUrl}}">{{AppName}}</a></p>
</body>
</html>
