<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Username}}, Bienvenido a {{AppName}}</title>
</head>

<body>
	<p>Hola <b>{{.Username}}</b>, esta es la confirmación de tu registro en {{AppName}}!</p>
	<p>Su cuenta tendra denegado el acceso al sistema hasta que el administrador haya aprobado su registro.</p>
	<p>En cuento se haya aprobado su registro en el sistema, recibira una noticacion por correo electrónico</p>
	<p>© 2016 <a target="_blank" href="{{AppUrl}}">{{AppName}}</a></p>
</body>
</html>
