{{template "base/head" .}}
<div class="repository settings options">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="ui grid">
			{{template "repo/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "repo.settings.school_settings"}}
				</h4>
				<div class="ui attached segment">
					<form class="ui form" action="{{.Link}}" method="post">
						{{.CsrfTokenHtml}}
						<div class="field">
							<label>{{.i18n.Tr "repo.semester"}}</label>
							<div class="ui search selection dropdown">
								<input type="hidden" name="semester" value="{{if .Semester_Success}}{{.Semester.ID}}{{else}}0{{end}}">
								<div class="default text" style="color: black;">{{if .Semester_Success}}{{.Semester.Name}}{{else}}{{.i18n.Tr "form.unselect_field"}}{{end}}</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									{{range .Semesters}}
										<div class="item" data-value="{{.ID}}">{{.Name}}</div>
									{{end}}
								</div>
							</div>
						</div>

						<div class="field">
							<label>{{.i18n.Tr "repo.group"}}</label>
							<div class="ui search selection dropdown">
								<input type="hidden" name="group" value="{{if .Group_Success}}{{.Group.ID}}{{else}}0{{end}}">
								<div class="default text" style="color: black;">{{if .Group_Success}}{{.Group.Name}}{{else}}{{.i18n.Tr "form.unselect_field"}}{{end}}</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									{{range .Groups}}
										<div class="item" data-value="{{.ID}}">{{.Name}}</div>
									{{end}}
								</div>
							</div>
						</div>

						<div class="field">
							<label>{{.i18n.Tr "repo.professor"}}</label>
							<div class="ui search selection dropdown">
								<input type="hidden" id="professor" name="professor" value="{{if .Professor_Success}}{{.Professor.ID}}{{else}}0{{end}}">
								<div class="default text" style="color: black;">{{if .Professor_Success}}{{.Professor.FullName}}{{else}}{{.i18n.Tr "form.unselect_field"}}{{end}}</div>
								<i class="dropdown icon"></i>
								<div class="menu">
									{{range .Professors}}
										<div class="item" data-value="{{.ID}}">{{.FullName}}</div>
									{{end}}
								</div>
							</div>
						</div>

						<div class="field">
							<label>{{.i18n.Tr "repo.subject"}}</label>
							<div class="ui search selection dropdown">
								<input type="hidden" name="subject" value="{{if .Subject_Success}}{{.Subject.ID}}{{else}}0{{end}}">
								<div class="default text" style="color: black;">{{if .Subject_Success}}{{.Subject.Name}}{{else}}{{.i18n.Tr "form.unselect_field"}}{{end}}</div>
								<i class="dropdown icon"></i>
								<div class="menu" id="subject-box">
								</div>
							</div>
						</div>

						<div class="field">
							<button class="ui green button">{{$.i18n.Tr "repo.settings.update_settings"}}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
