<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Subject}}</title>
</head>

<body>
	<p>Has sido añadido como colaborador del repositorio <code>{{.RepoName}}</code></p>
	<p>
		---
		<br>
		<a href="{{.Link}}">Ver en GitWolf</a>.
	</p>
</body>
</html>