{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{AppSubUrl}}/img/homelogo.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					TT2016-A039
				</h1>
				<h2>Repositorio Digital para proyectos colaborativos realizados por alumnos de la ESCOM</h2>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}